@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Asul', serif;
  background:#5d7f8e;
}


.container {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: 40px;
}

.container .imageCard {
  padding: 10px;
  border-radius: 10px;
}

.container .ant-card-body{
  padding: 0;
}

.container :where(.css-dev-only-do-not-override-6j9yrn).ant-card .ant-card-actions>li,:where(.css-6j9yrn).ant-card .ant-card-actions>li{
  margin:auto;
}


:where(.css-dev-only-do-not-override-6j9yrn).ant-card .ant-card-body,:where(.css-6j9yrn).ant-card .ant-card-body{
  padding: 0;
}